<html>
<!-- Neda Alinejadian
      Student Number: A01025281 --> 
	<head>
		<title>Final Project</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="lecture.css"  />
	</head>
	<body>
	
	<header>
	   
	</header>
	<div id="space1">
	<nav>
	<ul>
	 <ul id="navlist">
            <li id="active"><a href="#" id="current">Introduction</a></li>
            <li><a href="#">Protosite</a></li>
            <li><a href="#">Sitmap</a></li>
            <li><a href="#">Rationale Page</a></li>
            <li><a href="#">Final Project</a></li>
        </ul>
	</ul>
	</nav>
	<div id= "space2"></div>
	</div>
	<div id="container">
	
	<div id="lecture">
	<h1>Comp 1950</h1>
	
	
	 
	
	<h2><button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Log In</button></h2>

<div id="id01" class="modal">
  
  <form class="modal-content animate" action="/action_page.php">
   <div id="blue">
   </div>

    <div class="container">
      <label><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" maxlength="4" size="4"required>
     <div>   
      <button type="submit" class="login">Login</button>
	  </div>
      <input type="checkbox" checked="checked"> Remember me
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
	
	
	
	
	
	
	
	
	
	
	
	
	
	</div>
	
	
	</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	</body>
	</html>
